
html {
    font-size: 62.5%;
    box-sizing: border-box;
  }

body{
    font-family: $font-primary;
    background-color: $primaryColor-active;
}

h1,h2,h3{
  font-weight: 700;
}
h1{
  font-size: 40rem;
}