@font-face {
    font-family: 'Gotham Rounded';
    src: url('../../assets/fonts/Gotham\ Rounded\ Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Rounded';
    src: url('../../assets/fonts/Gotham\ Rounded\ Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Rounded';
    src: url('../../assets/fonts/Gotham\ Rounded\ Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
};
$font-primary: 'Gotham Rounded', sans-serif;
/*Primary Colors*/
$primaryColor-ultra-dark:#062a2d;
$primaryColor-darker:#154b4c;
$primaryColor-dark-active:#14595b;
$primaryColor-dark-hover:#137072;
$primaryColor-dark:#128e8f;
$primaryColor-active:#1ab2af;
$primaryColor-hover: #34cdc8;
$primaryColor-normal: #55e2d9;
$primaryColor-light-active: #9df2ea;
$primaryColor-light-hover: #cef9f4;
$primaryColor-light-light: #f1fcfb;
/*Neutral Colors*/
$neutralColor-950:#292929;
$neutralColor-900:#3d3d3d;
$neutralColor-800:#464646;
$neutralColor-700:#525252;
$neutralColor-600:#656565;
$neutralColor-500:#7c7c7c;
$neutralColor-400:#989898;
$neutralColor-300:#bdbdbd;
$neutralColor-200:#dcdcdc;
$neutralColor-100:#efefef;
$neutralColor-50:#ffffff