.btn-secondary{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 500;
    color: $neutralColor-100;
    background-color: #989898;
    height: 4rem;
    padding: .9rem 3.6rem;
    border: none;
    border-radius: .8rem;
    line-height: .3rem;
    margin-top: 1rem;
}
.close-btn{
    display: block;
    position: fixed;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    color: $neutralColor-900;
    font-size: 2rem;    
    border: none;
    background-color: transparent;
}