.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    border-bottom: .2rem solid #d9d9d9;
    font-family: $font-primary;
}

// .navbar ul{
//     display: flex;
//     flex-direction: row;
//     list-style: none;
//     gap:2rem;
//     justify-content: center;
// }
// .navbar li{
//     font-size: $heading-d-4;
//     font-family: $font-primary;
// }
.bg-body-tertiar{
    background-color: transparent;
    font-size: 1.8rem;
    width: 100%;
    max-width: 110rem;
    display: flex;
    justify-content: space-between;
    border-bottom: none
}

.btn-navbar-pct{
    width: 17.2rem;
    height: 4rem;
    border-radius: .8rem;
    border: none;
    text-transform: uppercase;
    background-color: $primaryColor-active;
    font-size: 1.4rem;
    font-weight: 500;
    margin: .2rem;
    color: $neutralColor-50;
    transition: all .2s ease-in-out;
}
.btn-navbar-pct:hover{
    cursor:pointer;
    background-color: $primaryColor-hover;
}
.btn-navbar-prof{
    width: 17.2rem;
    height: 4rem;
    text-transform: uppercase;
    border-radius: .8rem;
    border: .2rem solid $primaryColor-dark;
    background-color: $primaryColor-light-hover;
    font-size: 1.4rem;
    font-weight: 500;
    margin: .2rem;
    color: $primaryColor-dark;
    transition: all .2s ease-in-out;
}
.btn-navbar-prof:hover{
    cursor:pointer;
    background-color: $primaryColor-normal}