.register-user{
    display: flex;
    flex-direction: column;
    width: 75.7rem;
    height: 56.8rem;
    padding: 2rem; 
    justify-content:center;
    align-items: center;
    gap: 2rem;
    background-color: #DDDDDD;
}
