baseUrl=http://localhost:8090

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

POSTGRES_USER=default
POSTGRES_PASSWORD=EiZyWQAu0X4S

POSTGRES_URL=jdbc:postgresql://host:port/verceldb


OAUTH_REDIRECT_FRONT=http://localhost:5173/login